<ul class="uk-nav-parent-icon uk-nav-primary" uk-nav="multiple: true">
  <li class="uk-active"><a href="#">Ailles</a></li>
  <hr />
  <li class="uk-parent">
    <a href="#">À propos</a>
    <ul class="uk-nav-sub">
      <p>
        La commune d'Ailles a été créée lors de la Révolution française.
        Considéré comme détruite lors de la Première Guerre mondiale, le décret
        du 9 septembre 1923 supprime la commune pour être rattaché à la commune
        voisine de Chermizy. La nouvelle entité prend le nom de Chermizy-Ailles.
      </p>
    </ul>
  </li>
  <li class="uk-parent">
    <a href="#">Images</a>
    <ul class="uk-nav-sub">
      <div uk-lightbox="animation: slide">
        <div>
          <a
            class="uk-inline"
            href="static/img/ailles/1.jpg"
            data-caption="Une épicerie avant la guerre"
          >
            <img src="static/img/ailles/1.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/ailles/2.jpg"
            data-caption="Vue du village"
          >
            <img src="static/img/ailles/2.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/ailles/3.jpg"
            data-caption="Aujourd'hui"
          >
            <img src="static/img/ailles/3.jpg" alt="" />
          </a>
        </div>
      </div>
    </ul>
  </li>
</ul>
