<ul class="uk-nav-parent-icon uk-nav-primary" uk-nav="multiple: true">
    <li class="uk-active">
        <a href="#">Bailleul</a>
    </li>
    <hr>
    <li class="uk-parent">
        <a href="#">À propos</a>
        <ul class="uk-nav-sub">
            <p>
                Bailleul, située non loin de Cassel où Foch avait établi son quartier général, fut complètement
                détruite en 1918 par les Alliés, avec l'appui de l'aviation britannique qui cherchait à chasser
                l'ennemi qui avait pris la ville. C'est pourquoi, comme une grande partie du département, elle était
                classée en zone rouge. En novembre 1918, une seule maison était encore debout, et aujourd'hui seule la
                salle gothique à la base du beffroi subsiste de cette époque. La ville de Bailleul a reçu la Croix de
                guerre 1914-1918 à la suite de ces destructions.
            </p>
        </ul>

    </li>
    <li class="uk-parent">
        <a href="#">Images</a>
        <ul class="uk-nav-sub">
            <div uk-lightbox="animation: slide">
                <div>
                    <a class="uk-inline" href="static/img/bailleul/1.jpg" data-caption="Avant la déstruction">
                        <img src="static/img/bailleul/1.jpg" alt="">
                    </a>
                </div>
                <div>
                    <a class="uk-inline" href="static/img/bailleul/2.jpg" data-caption="Une belle vue du village">
                        <img src="static/img/bailleul/2.jpg" alt="">
                    </a>
                </div>
                <div>
                    <a class="uk-inline" href="static/img/bailleul/4.jpg" data-caption="Pendant la guerre">
                        <img src="static/img/bailleul/4.jpg" alt="">
                    </a>
                </div>
                <div>
                    <a class="uk-inline" href="static/img/bailleul/3.jpg" data-caption="Le monument d'aujourd'hui">
                        <img src="static/img/bailleul/3.jpg" alt="">
                    </a>
                </div>
            </div>

        </ul>
    </li>
</ul>