<ul class="uk-nav-parent-icon uk-nav-primary" uk-nav="multiple: true">
  <li class="uk-active"><a href="#">Beaulne-et-Chivy</a></li>
  <hr />
  <li class="uk-parent">
    <a href="#">À propos</a>
    <ul class="uk-nav-sub">
      <p>
        Elle a été créée à la Révolution française par la fusion des communes de
        Beaulne et de Chivy. En 1923, elle est supprimée à la suite d'un décret
        du 9 septembre 1923. Son territoire est alors rattaché à la commune
        voisine de Vendresse-et-Troyon qui prend le nom de Vendresse-Beaulne.
      </p>
    </ul>
  </li>
  <li class="uk-parent">
    <a href="#">Images</a>
    <ul class="uk-nav-sub">
      <div uk-lightbox="animation: slide">
        <div>
          <a
            class="uk-inline"
            href="static/img/beaulne/1.jpg"
            data-caption="Avant Guerre"
          >
            <img src="static/img/beaulne/1.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/beaulne/3.jpg"
            data-caption="Avant Guerre"
          >
            <img src="static/img/beaulne/3.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/beaulne/4.jpg"
            data-caption="Soldat allemand pendant la Guerre"
          >
            <img src="static/img/beaulne/4.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/beaulne/2.jpg"
            data-caption="Aujourd'hui"
          >
            <img src="static/img/beaulne/2.jpg" alt="" />
          </a>
        </div>
      </div>
    </ul>
  </li>
</ul>
