<ul class="uk-nav-parent-icon uk-nav-primary" uk-nav="multiple: true">
  <li class="uk-active"><a href="#">Beauséjour</a></li>
  <hr />
  <li class="uk-parent">
    <a href="#">À propos</a>
    <ul class="uk-nav-sub">
      <p>
        Fondé en 1825, à l'origine simple ferme située le long chemin reliant
        Minaucourt à Mesnil-les-Hurlus, le village de Beauséjour est pris dans
        la tourmente de la Première Guerre mondiale et ses habitants sont
        évacués le 2 septembre 1914. Il est le théâtre de combats meurtriers
        après l'arrêt de la retraite de la Marne le 14 septembre 1914, les
        Allemands campant sur une ligne comprenant Beau-Séjour1. Les soldats
        français essayeront de reprendre la ferme mais les Allemands avaient
        organisé et fortifié un lacis de tranchées sur la hauteur, à 1500 mètres
        au nord de celle-ci. Cette position formidablement protégée, à laquelle
        se heurteront les marsouins et fantassins tout au long du premier
        trimestre de 1915, sera baptisée « Fortin de Beauséjour »2. Ce bastion
        sera pris et repris 7 fois entre mi-février et mi-mars 1915. Il y règne
        une incessante guerre de mines souterraines et d'assauts à la
        baïonnette, particulièrement meurtriers. Il faudra attendre la grande
        offensive française de Champagne du 25 septembre 1915 pour que le
        secteur et la position du « Fortin de Beauséjour » soient enfin
        dégagés3. Le hameau n'a pas été reconstruit après la guerre. Il est
        aujourd'hui le site de monuments historiques : une stèle à la mémoire
        des soldats du 3e de Marine ainsi qu'un calvaire entouré des tombes de
        L. Noyer et A. Gardinier4. Beauséjour a connu un regain de notoriété
        dans la presse en 2006, quand le doyen de la France de l'époque, Maurice
        Floquet, est décédé à l'âge de 111 ans. Celui-ci avait en effet combattu
        lors de la bataille du 25 septembre 1915 et survécu malgré de graves
        blessures reçues lors d'un assaut contre les lignes allemandes5.
      </p>
    </ul>
  </li>
  <li class="uk-parent">
    <a href="#">Images</a>
    <ul class="uk-nav-sub">
      <div uk-lightbox="animation: slide">
        <div>
          <a
            class="uk-inline"
            href="static/img/beausejour/1.jpg"
            data-caption="Avant Guerre"
          >
            <img src="static/img/beausejour/1.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/beausejour/2.jpg"
            data-caption="Avant Guerre"
          >
            <img src="static/img/beausejour/2.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/beausejour/3.jpg"
            data-caption="Dans les tranchées"
          >
            <img src="static/img/beausejour/3.jpg" alt="" />
          </a>
        </div>
      </div>
    </ul>
  </li>
</ul>
