<ul class="uk-nav-parent-icon uk-nav-primary" uk-nav="multiple: true">
  <li class="uk-active"><a href="#">Cerny-en-Laonnois</a></li>
  <hr />
  <li class="uk-parent">
    <a href="#">À propos</a>
    <ul class="uk-nav-sub">
      <p>
        Ce village a été entièrement détruit pendant la Guerre, mais un monument
        pour les morts a été construit sur les ruines. Aujourd'hui,
        Cerny-en-Laonnois a moins de 100 habitants.
      </p>
    </ul>
  </li>
  <li class="uk-parent">
    <a href="#">Images</a>
    <ul class="uk-nav-sub">
      <div uk-lightbox="animation: slide">
        <div>
          <a
            class="uk-inline"
            href="static/img/cerny/1.jpg"
            data-caption="Avant Guerre"
          >
            <img src="static/img/cerny/1.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/cerny/2.jpg"
            data-caption="Avion abattu"
          >
            <img src="static/img/cerny/2.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/cerny/3.jpg"
            data-caption="Pendant la Guerre"
          >
            <img src="static/img/cerny/3.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/cerny/4.jpg"
            data-caption="Aujourd'hui"
          >
            <img src="static/img/cerny/4.jpg" alt="" />
          </a>
        </div>
      </div>
    </ul>
  </li>
</ul>
