
    <ul class="uk-nav-parent-icon uk-nav-primary" uk-nav="multiple: true">
    <li class="uk-active">
        <a href="#">Craonne</a>
    </li>
    <hr>
    <li class="uk-parent">
        <a href="#">À propos</a>
        <ul class="uk-nav-sub">
            <p>
                Craonne est une commune française située dans le département de l'Aisne, en région Hauts-de-France.
L'ancien village de Craonne a été complètement détruit au cours de la Première Guerre mondiale lors des différentes batailles du Chemin des Dames. Le nom de Craonne est rendu célèbre par la Chanson de Craonne, chanson contestataire entonnée par des soldats français durant la guerre en 1917 et, notamment, par des soldats qui se sont mutinés après l'offensive meurtrière du général Nivelle au Chemin des Dames en 1917.
Localement, Craonne se prononce /krɑn/, et non /Krɑon/ ». La prononciation fautive /krɑon/ s'est développée avec la Chanson de Craonne, où deux syllabes sont nécessaires.
Ses habitants sont appelés les Craonnais (pron. : /kranais/).
            </p>
        </ul>

    </li>
    <li class="uk-parent">
        <a href="#">Images</a>
        <ul class="uk-nav-sub">
            <div uk-lightbox="animation: slide">
                <div>
                    <a class="uk-inline" href="static/img/craonne/1.jpg" data-caption="">
                        <img src="static/img/craonne/1.jpg" alt="">
                    </a>
                </div>
                <div>
                    <a class="uk-inline" href="static/img/craonne/2.jpg" data-caption="">
                        <img src="static/img/craonne/2.jpg" alt="">
                    </a>
                </div>
                <div>
                    <a class="uk-inline" href="static/img/craonne/3.jpg" data-caption="">
                        <img src="static/img/craonne/3.jpg" alt="">
                    </a>
                </div>
                <div>
                    <a class="uk-inline" href="static/img/craonne/4.jpg" data-caption="">
                        <img src="static/img/craonne/4.jpg" alt="">
                    </a>
                </div>
            </div>

        </ul>
    </li>
</ul>
