
    <ul class="uk-nav-parent-icon uk-nav-primary" uk-nav="multiple: true">
    <li class="uk-active">
        <a href="#">Cumières-le-Mort-Homme</a>
    </li>
    <hr>
    <li class="uk-parent">
        <a href="#">À propos</a>
        <ul class="uk-nav-sub">
            <p>
                Cumières-le-Mort-Homme est une commune française située dans le département de la Meuse, en région Grand Est.
Elle fait partie des neuf villages français détruits durant la Première Guerre mondiale non reconstruits car classés en zone rouge du département de la Meuse.
            </p>
        </ul>

    </li>
    <li class="uk-parent">
        <a href="#">Images</a>
        <ul class="uk-nav-sub">
            <div uk-lightbox="animation: slide">
                <div>
                    <a class="uk-inline" href="static/img/cumières-le-mort-homme/1.jpg" data-caption="">
                        <img src="static/img/cumières-le-mort-homme/1.jpg" alt="">
                    </a>
                </div>
                <div>
                    <a class="uk-inline" href="static/img/cumières-le-mort-homme/2.jpg" data-caption="">
                        <img src="static/img/cumières-le-mort-homme/2.jpg" alt="">
                    </a>
                </div>
                <div>
                    <a class="uk-inline" href="static/img/cumières-le-mort-homme/3.jpg" data-caption="">
                        <img src="static/img/cumières-le-mort-homme/3.jpg" alt="">
                    </a>
                </div>
                <div>
                    <a class="uk-inline" href="static/img/cumières-le-mort-homme/4.jpg" data-caption="">
                        <img src="static/img/cumières-le-mort-homme/4.jpg" alt="">
                    </a>
                </div>
            </div>

        </ul>
    </li>
</ul>
