<ul class="uk-nav-parent-icon uk-nav-primary" uk-nav="multiple: true">
  <li class="uk-active"><a href="#">Fey-en-Haye</a></li>
  <hr />
  <li class="uk-parent">
    <a href="#">À propos</a>
    <ul class="uk-nav-sub">
      <p>
        Fey-en-Haye est une commune française située dans le département de
        Meurthe-et-Moselle, en région Grand Est.
      </p>
    </ul>
  </li>
  <li class="uk-parent">
    <a href="#">Images</a>
    <ul class="uk-nav-sub">
      <div uk-lightbox="animation: slide">
        <div>
          <a
            class="uk-inline"
            href="static/img/fey-en-haye/2.jpg"
            data-caption="Des enfants au centre du village - Avant Guerre"
          >
            <img src="static/img/fey-en-haye/2.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/fey-en-haye/1.jpg"
            data-caption="Déstruction totale"
          >
            <img src="static/img/fey-en-haye/1.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/fey-en-haye/3.jpg"
            data-caption="Le village en ruines"
          >
            <img src="static/img/fey-en-haye/3.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/fey-en-haye/4.jpg"
            data-caption="Aujourd'hui"
          >
            <img src="static/img/fey-en-haye/4.jpg" alt="" />
          </a>
        </div>
      </div>
    </ul>
  </li>
</ul>
