<ul class="uk-nav-parent-icon uk-nav-primary" uk-nav="multiple: true">
  <li class="uk-active"><a href="#">Fleury-devant-Douaumont</a></li>
  <hr />
  <li class="uk-parent">
    <a href="#">À propos</a>
    <ul class="uk-nav-sub">
      <p>
        Fleury-devant-Douaumont est une commune française située dans le
        département de la Meuse, en région Grand Est. Le village fut détruit en
        1916 pendant la bataille de Verdun et ne fut pas reconstruit. Depuis, le
        site de la commune est devenu un lieu de souvenir inhabité.
      </p>
    </ul>
  </li>
  <li class="uk-parent">
    <a href="#">En récit</a>
    <ul class="uk-nav-sub">
      <p>
        Maurice Genevoix, dans son livre Sous Verdun, fait référence à Fleury
        sur la page 128
      </p>
      <img src="static/img/douaumont/genevoix.png" alt="" />
    </ul>
  </li>
  <li class="uk-parent">
    <a href="#">Images</a>
    <ul class="uk-nav-sub">
      <div uk-lightbox="animation: slide">
        <div>
          <a
            class="uk-inline"
            href="static/img/fleury-devant-douaumont/1.jpg"
            data-caption=""
          >
            <img src="static/img/fleury-devant-douaumont/1.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/fleury-devant-douaumont/2.jpg"
            data-caption=""
          >
            <img src="static/img/fleury-devant-douaumont/2.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/fleury-devant-douaumont/3.jpg"
            data-caption=""
          >
            <img src="static/img/fleury-devant-douaumont/3.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/fleury-devant-douaumont/4.jpg"
            data-caption=""
          >
            <img src="static/img/fleury-devant-douaumont/4.jpg" alt="" />
          </a>
        </div>
      </div>
    </ul>
  </li>
</ul>
