<ul class="uk-nav-parent-icon uk-nav-primary" uk-nav="multiple: true">
  <li class="uk-active"><a href="#">La Zone Rouge</a></li>
  <hr />
  <li class="uk-parent">
    <a href="#">À propos</a>
    <ul class="uk-nav-sub">
      <p>
        La zone rouge est le nom donné en France à environ 120 000 hectares de
        champ de bataille où, à cause de dégâts physiques majeurs sur le milieu
        pendant la Première Guerre mondiale et en raison de la présence de
        milliers de cadavres et de millions de munitions non explosées,
        certaines activités ont été provisoirement ou définitivement interdites
        par la loi.
      </p>
    </ul>
  </li>
  <li class="uk-parent">
    <a href="#">Images</a>
    <ul class="uk-nav-sub">
      <div uk-lightbox="animation: slide">
        <div>
          <a
            class="uk-inline"
            href="static/img/zonerouge/1.jpg"
            data-caption="Après Guerre"
          >
            <img src="static/img/zonerouge/1.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/zonerouge/2.jpg"
            data-caption="Verdun Aujourd'hui"
          >
            <img src="static/img/zonerouge/2.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/zonerouge/3.jpg"
            data-caption="Longueval"
          >
            <img src="static/img/zonerouge/3.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/zonerouge/4.jpg"
            data-caption="Douaumont"
          >
            <img src="static/img/zonerouge/4.jpg" alt="" />
          </a>
        </div>
      </div>
    </ul>
  </li>
</ul>
