<ul class="uk-nav-parent-icon uk-nav-primary" uk-nav="multiple: true">
  <li class="uk-active"><a href="#">Hurlus</a></li>
  <hr />
  <li class="uk-parent">
    <a href="#">À propos</a>
    <ul class="uk-nav-sub">
      <p>
        Perthes-lès-Hurlus est une ancienne commune du département de la Marne.
      </p>
    </ul>
  </li>
  <li class="uk-parent">
    <a href="#">Images</a>
    <ul class="uk-nav-sub">
      <div uk-lightbox="animation: slide">
        <div>
          <a class="uk-inline" href="static/img/hurlus/1.jpg" data-caption="">
            <img src="static/img/hurlus/1.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/hurlus/2.jpg"
            data-caption="Des ruines et une pierre tombale du village"
          >
            <img src="static/img/hurlus/2.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/hurlus/3.jpg"
            data-caption="Les ruines aujourd'hui"
          >
            <img src="static/img/hurlus/3.jpg" alt="" />
          </a>
        </div>
        <div>
          <a class="uk-inline" href="static/img/hurlus/4.jpg" data-caption="">
            <img src="static/img/hurlus/4.jpg" alt="" />
          </a>
        </div>
      </div>
    </ul>
  </li>
</ul>
