<ul class="uk-nav-parent-icon uk-nav-primary" uk-nav="multiple: true">
  <li class="uk-active"><a href="#">La Bassée</a></li>
  <hr />
  <li class="uk-parent">
    <a href="#">À propos</a>
    <ul class="uk-nav-sub">
      <p>
        La Bassée est une commune française située dans le département du Nord,
        en région Hauts-de-France.
      </p>
    </ul>
  </li>
  <li class="uk-parent">
    <a href="#">Images</a>
    <ul class="uk-nav-sub">
      <div uk-lightbox="animation: slide">
        <div>
          <a
            class="uk-inline"
            href="static/img/la bassée/1.jpg"
            data-caption="La déstruction pendant la guerre"
          >
            <img src="static/img/la bassée/1.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/la bassée/2.jpg"
            data-caption=""
          >
            <img src="static/img/la bassée/2.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/la bassée/3.jpg"
            data-caption=""
          >
            <img src="static/img/la bassée/3.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/la bassée/4.jpg"
            data-caption=""
          >
            <img src="static/img/la bassée/4.jpg" alt="" />
          </a>
        </div>
      </div>
    </ul>
  </li>
</ul>
