<ul class="uk-nav-parent-icon uk-nav-primary" uk-nav="multiple: true">
  <li class="uk-active"><a href="#">Mesnil-lès-Hurlus</a></li>
  <hr />
  <li class="uk-parent">
    <a href="#">À propos</a>
    <ul class="uk-nav-sub">
      <p>
        Le Mesnil-lès-Hurlus est une ancienne commune du département de la
        Marne. Son code INSEE est 51366.
      </p>
    </ul>
  </li>
  <li class="uk-parent">
    <a href="#">Images</a>
    <ul class="uk-nav-sub">
      <div uk-lightbox="animation: slide">
        <div>
          <a
            class="uk-inline"
            href="static/img/mesnil-lès-hurlus/1.jpg"
            data-caption="Un monument pendant la guerre"
          >
            <img src="static/img/mesnil-lès-hurlus/1.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/mesnil-lès-hurlus/2.jpg"
            data-caption="La déstruction de 1916"
          >
            <img src="static/img/mesnil-lès-hurlus/2.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/mesnil-lès-hurlus/3.jpg"
            data-caption="Déstruction totale"
          >
            <img src="static/img/mesnil-lès-hurlus/3.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/mesnil-lès-hurlus/4.jpg"
            data-caption="L'Ossuaire"
          >
            <img src="static/img/mesnil-lès-hurlus/4.jpg" alt="" />
          </a>
        </div>
      </div>
    </ul>
  </li>
</ul>
