
    <ul class="uk-nav-parent-icon uk-nav-primary" uk-nav="multiple: true">
    <li class="uk-active">
        <a href="#">Moronvilliers</a>
    </li>
    <hr>
    <li class="uk-parent">
        <a href="#">À propos</a>
        <ul class="uk-nav-sub">
            <p>
                Moronvilliers est une ancienne commune de la Marne supprimée en 1950. Symboliquement, son nom a été accolé à celui de la commune voisine de Pontfaverger (située à environ 4 km au nord de l'ancien village) pour former Pontfaverger-Moronvilliers. Moronvilliers est situé à une vingtaine de kilomètres de Reims. Il a donné son nom à un massif de sept plateaux constituant les Monts de Champagne.
Moronvilliers abrite un centre de recherche du Commissariat à l'énergie atomique (CEA) rattaché à la Direction des Applications Militaires (DAM) de l'Île-de-France. Une zone interdite à la circulation aérienne a été instaurée autour du centre.
            </p>
        </ul>

    </li>
    <li class="uk-parent">
        <a href="#">Images</a>
        <ul class="uk-nav-sub">
            <div uk-lightbox="animation: slide">
                <div>
                    <a class="uk-inline" href="static/img/moronvilliers/1.jpg" data-caption="">
                        <img src="static/img/moronvilliers/1.jpg" alt="">
                    </a>
                </div>
                <div>
                    <a class="uk-inline" href="static/img/moronvilliers/2.jpg" data-caption="">
                        <img src="static/img/moronvilliers/2.jpg" alt="">
                    </a>
                </div>
                <div>
                    <a class="uk-inline" href="static/img/moronvilliers/3.jpg" data-caption="">
                        <img src="static/img/moronvilliers/3.jpg" alt="">
                    </a>
                </div>
                <div>
                    <a class="uk-inline" href="static/img/moronvilliers/4.jpg" data-caption="">
                        <img src="static/img/moronvilliers/4.jpg" alt="">
                    </a>
                </div>
            </div>

        </ul>
    </li>
</ul>
