<ul class="uk-nav-parent-icon uk-nav-primary" uk-nav="multiple: true">
  <li class="uk-active"><a href="#">Moussy-sur-Aisne</a></li>
  <hr />
  <li class="uk-parent">
    <a href="#">À propos</a>
    <ul class="uk-nav-sub">
      <p>
        Moussy-sur-Aisne est une localité de Moussy-Verneuil et une ancienne
        commune française, située dans le département de l'Aisne en région
        Hauts-de-France.
      </p>
    </ul>
  </li>
  <li class="uk-parent">
    <a href="#">Images</a>
    <ul class="uk-nav-sub">
      <div uk-lightbox="animation: slide">
        <div>
          <a
            class="uk-inline"
            href="static/img/moussy-sur-aisne/1.jpg"
            data-caption="Un château aux alentours du village - Avant Guerre"
          >
            <img src="static/img/moussy-sur-aisne/1.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/moussy-sur-aisne/2.jpg"
            data-caption="L'église détruite"
          >
            <img src="static/img/moussy-sur-aisne/2.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/moussy-sur-aisne/3.jpg"
            data-caption="Un autre point de vue de l'église"
          >
            <img src="static/img/moussy-sur-aisne/3.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/moussy-sur-aisne/4.jpg"
            data-caption="La commune aujourd'hui"
          >
            <img src="static/img/moussy-sur-aisne/4.jpg" alt="" />
          </a>
        </div>
      </div>
    </ul>
  </li>
</ul>
