<ul class="uk-nav-parent-icon uk-nav-primary" uk-nav="multiple: true">
  <li class="uk-active"><a href="#">Perthes-lès-Hurlus</a></li>
  <hr />
  <li class="uk-parent">
    <a href="#">À propos</a>
    <ul class="uk-nav-sub">
      <p>
        Souain-Perthes-lès-Hurlus est une commune française, située dans le
        département de la Marne en région Grand Est. Les habitants de Souain
        sont appelés les "goyas" ou "goïas".
      </p>
    </ul>
  </li>
  <li class="uk-parent">
    <a href="#">Images</a>
    <ul class="uk-nav-sub">
      <div uk-lightbox="animation: slide">
        <div>
          <a
            class="uk-inline"
            href="static/img/perthes-lès-hurlus/1.jpg"
            data-caption="Détruit explicitement par les allemands"
          >
            <img src="static/img/perthes-lès-hurlus/1.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/perthes-lès-hurlus/2.jpg"
            data-caption="Un abri aux ruines du village"
          >
            <img src="static/img/perthes-lès-hurlus/2.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/perthes-lès-hurlus/3.jpg"
            data-caption="Enterrement pendant la Guerre"
          >
            <img src="static/img/perthes-lès-hurlus/3.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/perthes-lès-hurlus/4.jpg"
            data-caption="L'église et le cimitière après la Guerre"
          >
            <img src="static/img/perthes-lès-hurlus/4.jpg" alt="" />
          </a>
        </div>
      </div>
    </ul>
  </li>
</ul>
