<ul class="uk-nav-parent-icon uk-nav-primary" uk-nav="multiple: true">
  <li class="uk-active"><a href="#">Regniéville</a></li>
  <hr />
  <li class="uk-parent">
    <a href="#">À propos</a>
    <ul class="uk-nav-sub">
      <p>
        Regniéville est un village et une ancienne commune de
        Meurthe-et-Moselle, aujourd'hui intégrée à la commune de
        Thiaucourt-Regniéville. Regniéville forme une exclave par rapport au
        territoire de la commune.
      </p>
    </ul>
  </li>
  <li class="uk-parent">
    <a href="#">Images</a>
    <ul class="uk-nav-sub">
      <div uk-lightbox="animation: slide">
        <div>
          <a
            class="uk-inline"
            href="static/img/regniéville/1.jpg"
            data-caption="Le centre du village - Avant Guerre"
          >
            <img src="static/img/regniéville/1.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/regniéville/2.jpg"
            data-caption="Le centre du village - Pendant la guerre"
          >
            <img src="static/img/regniéville/2.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/regniéville/3.jpg"
            data-caption="Des habitants du village - Pendant la guerre"
          >
            <img src="static/img/regniéville/3.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/regniéville/4.jpg"
            data-caption="Le village aujourd'hui"
          >
            <img src="static/img/regniéville/4.jpg" alt="" />
          </a>
        </div>
      </div>
    </ul>
  </li>
</ul>
