
    <ul class="uk-nav-parent-icon uk-nav-primary" uk-nav="multiple: true">
    <li class="uk-active">
        <a href="#">Remenauville</a>
    </li>
    <hr>
    <li class="uk-parent">
        <a href="#">À propos</a>
        <ul class="uk-nav-sub">
            <p>
                Limey-Remenauville est une commune française située dans le département de Meurthe-et-Moselle en région Grand Est.
            </p>
        </ul>

    </li>
    <li class="uk-parent">
        <a href="#">Images</a>
        <ul class="uk-nav-sub">
            <div uk-lightbox="animation: slide">
                <div>
                    <a class="uk-inline" href="static/img/remenauville/1.jpg" data-caption="">
                        <img src="static/img/remenauville/1.jpg" alt="">
                    </a>
                </div>
                <div>
                    <a class="uk-inline" href="static/img/remenauville/2.jpg" data-caption="">
                        <img src="static/img/remenauville/2.jpg" alt="">
                    </a>
                </div>
                <div>
                    <a class="uk-inline" href="static/img/remenauville/3.jpg" data-caption="">
                        <img src="static/img/remenauville/3.jpg" alt="">
                    </a>
                </div>
                <div>
                    <a class="uk-inline" href="static/img/remenauville/4.jpg" data-caption="">
                        <img src="static/img/remenauville/4.jpg" alt="">
                    </a>
                </div>
            </div>

        </ul>
    </li>
</ul>
