<ul class="uk-nav-parent-icon uk-nav-primary" uk-nav="multiple: true">
  <li class="uk-active"><a href="#">Ripont</a></li>
  <hr />
  <li class="uk-parent">
    <a href="#">À propos</a>
    <ul class="uk-nav-sub">
      <p>Ripont est une ancienne commune du département de la Marne.</p>
    </ul>
  </li>
  <li class="uk-parent">
    <a href="#">Images</a>
    <ul class="uk-nav-sub">
      <div uk-lightbox="animation: slide">
        <div>
          <a
            class="uk-inline"
            href="static/img/ripont/1.jpg"
            data-caption="Pendant la guerre"
          >
            <img src="static/img/ripont/1.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/ripont/2.jpg"
            data-caption="Pendant la prise allemande"
          >
            <img src="static/img/ripont/2.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/ripont/3.jpg"
            data-caption="Un hôpital pour les soldats"
          >
            <img src="static/img/ripont/3.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/ripont/4.jpg"
            data-caption="Une vue des ruines aujourd'hui"
          >
            <img src="static/img/ripont/4.jpg" alt="" />
          </a>
        </div>
      </div>
    </ul>
  </li>
</ul>
