<ul class="uk-nav-parent-icon uk-nav-primary" uk-nav="multiple: true">
  <li class="uk-active"><a href="#">Tahure</a></li>
  <hr />
  <li class="uk-parent">
    <a href="#">À propos</a>
    <ul class="uk-nav-sub">
      <p>
        Tahure est une ancienne commune du département de la Marne. Détruite au
        cours de la Première Guerre mondiale, son territoire a été rattaché à la
        commune de Sommepy-Tahure en 1950.
      </p>
    </ul>
  </li>
  <li class="uk-parent">
    <a href="#">Images</a>
    <ul class="uk-nav-sub">
      <div uk-lightbox="animation: slide">
        <div>
          <a
            class="uk-inline"
            href="static/img/tahure/1.jpg"
            data-caption="Le pont - Avant Guerre"
          >
            <img src="static/img/tahure/1.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/tahure/2.jpg"
            data-caption="Le front - Pendant la Guerre"
          >
            <img src="static/img/tahure/2.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/tahure/3.jpg"
            data-caption="Un tableau par le peintre allemand Otto Dix - Inspiré de ce village"
          >
            <img src="static/img/tahure/3.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/tahure/4.jpg"
            data-caption="L'ossuaire du vilage"
          >
            <img src="static/img/tahure/4.jpg" alt="" />
          </a>
        </div>
      </div>
    </ul>
  </li>
</ul>
