
    <ul class="uk-nav-parent-icon uk-nav-primary" uk-nav="multiple: true">
    <li class="uk-active">
        <a href="#">Vauclerc-et-la-Vallée-Foulon</a>
    </li>
    <hr>
    <li class="uk-parent">
        <a href="#">À propos</a>
        <ul class="uk-nav-sub">
            <p>
                Vauclerc-et-la-Vallée-Foulon est une ancienne commune française, située dans le département de l'Aisne en région Hauts-de-France. Elle a existé de la fin du XVIIIe siècle à 1923.
            </p>
        </ul>

    </li>
    <li class="uk-parent">
        <a href="#">Images</a>
        <ul class="uk-nav-sub">
            <div uk-lightbox="animation: slide">
                <div>
                    <a class="uk-inline" href="static/img/vauclerc-et-la-vallée-foulon/1.jpg" data-caption="">
                        <img src="static/img/vauclerc-et-la-vallée-foulon/1.jpg" alt="">
                    </a>
                </div>
                <div>
                    <a class="uk-inline" href="static/img/vauclerc-et-la-vallée-foulon/2.jpg" data-caption="">
                        <img src="static/img/vauclerc-et-la-vallée-foulon/2.jpg" alt="">
                    </a>
                </div>
                <div>
                    <a class="uk-inline" href="static/img/vauclerc-et-la-vallée-foulon/3.jpg" data-caption="">
                        <img src="static/img/vauclerc-et-la-vallée-foulon/3.jpg" alt="">
                    </a>
                </div>
                <div>
                    <a class="uk-inline" href="static/img/vauclerc-et-la-vallée-foulon/4.jpg" data-caption="">
                        <img src="static/img/vauclerc-et-la-vallée-foulon/4.jpg" alt="">
                    </a>
                </div>
            </div>

        </ul>
    </li>
</ul>
