<ul class="uk-nav-parent-icon uk-nav-primary" uk-nav="multiple: true">
  <li class="uk-active"><a href="#">Vauquois</a></li>
  <hr />
  <li class="uk-parent">
    <a href="#">À propos</a>
    <ul class="uk-nav-sub">
      <p>
        La bataille de Vauquois est une bataille de la Première Guerre mondiale
        sur le front Ouest, marquée par une guerre de position de l'automne 1914
        jusqu'au printemps 1918. Elle se déroule sur la butte de Vauquois à 25
        km à l'ouest de Verdun : cette butte, tenue par les troupes allemandes à
        partir de fin septembre 1914, est attaquée sans succès par les troupes
        françaises en octobre 1914. En février 1915, les troupes françaises
        atteignent le sommet de la butte avec de fortes pertes, mais ne peuvent
        en faire partir les Allemands. À partir d'avril 1915, devant ce statu
        quo, les combats se poursuivent par une « guerre des mines » jusqu'en
        avril 1918.
      </p>
    </ul>
  </li>
  <li class="uk-parent">
    <a href="#">Images</a>
    <ul class="uk-nav-sub">
      <div uk-lightbox="animation: slide">
        <div>
          <a
            class="uk-inline"
            href="static/img/vauquois/1.jpg"
            data-caption="La Grande Rue et L'église - Avant Guerre"
          >
            <img src="static/img/vauquois/1.jpg" alt="" />
          </a>
        </div>
        <div>
          <a class="uk-inline" href="static/img/vauquois/2.jpg" data-caption="">
            <img src="static/img/vauquois/2.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/vauquois/3.jpg"
            data-caption="La déstruction aujourd'hui"
          >
            <img src="static/img/vauquois/3.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/vauquois/4.jpg"
            data-caption="Les ruines"
          >
            <img src="static/img/vauquois/4.jpg" alt="" />
          </a>
        </div>
      </div>
    </ul>
  </li>
</ul>
