
    <ul class="uk-nav-parent-icon uk-nav-primary" uk-nav="multiple: true">
    <li class="uk-active">
        <a href="#">Vaux-devant-Damloup</a>
    </li>
    <hr>
    <li class="uk-parent">
        <a href="#">À propos</a>
        <ul class="uk-nav-sub">
            <p>
                Vaux-devant-Damloup est une commune française située dans le département de la Meuse, en région Grand Est.
Bien que le village ait été reconstruit environ 500 mètres plus bas qu'auparavant, elle fait partie des neuf villages français détruits durant la Première Guerre mondiale classés en zone rouge du département de la Meuse. C'est la seule commune dans ce cas sur le territoire du champ de bataille de Verdun.
            </p>
        </ul>

    </li>
    <li class="uk-parent">
        <a href="#">Images</a>
        <ul class="uk-nav-sub">
            <div uk-lightbox="animation: slide">
                <div>
                    <a class="uk-inline" href="static/img/vaux-devant-damloup/1.jpg" data-caption="">
                        <img src="static/img/vaux-devant-damloup/1.jpg" alt="">
                    </a>
                </div>
                <div>
                    <a class="uk-inline" href="static/img/vaux-devant-damloup/2.jpg" data-caption="">
                        <img src="static/img/vaux-devant-damloup/2.jpg" alt="">
                    </a>
                </div>
                <div>
                    <a class="uk-inline" href="static/img/vaux-devant-damloup/3.jpg" data-caption="">
                        <img src="static/img/vaux-devant-damloup/3.jpg" alt="">
                    </a>
                </div>
                <div>
                    <a class="uk-inline" href="static/img/vaux-devant-damloup/4.jpg" data-caption="">
                        <img src="static/img/vaux-devant-damloup/4.jpg" alt="">
                    </a>
                </div>
            </div>

        </ul>
    </li>
</ul>
