<ul class="uk-nav-parent-icon uk-nav-primary" uk-nav="multiple: true">
    <li class="uk-active">
        <a href="#">Allemant</a>
    </li>
    <hr>
    <li class="uk-parent">
        <a href="#">À propos</a>
        <ul class="uk-nav-sub">
            <p>
                Le nom de la localité est attesté sous les formes Allemans vers 980, Alemant en 1184 , Allemand en
                1793, Allemant en 1801.

                Ce toponyme dérive des Alamans, peuple germanique qui avait établi une colonie en ces lieux.

                Le village a été complètement détruit pendant la Première Guerre Mondiale
            </p>
        </ul>

    </li>
    <li class="uk-parent">
        <a href="#">Images</a>
        <ul class="uk-nav-sub">
            <div uk-lightbox="animation: slide">
                <div>
                    <a class="uk-inline" href="static/img/allemant/1.jpg" data-caption="Village pendant la guerre">
                        <img src="static/img/allemant/1.jpg" alt="">
                    </a>
                </div>
                <div>
                    <a class="uk-inline" href="static/img/allemant/2.jpg" data-caption="Ruines du village">
                        <img src="static/img/allemant/2.jpg" alt="">
                    </a>
                </div>
                <div>
                    <a class="uk-inline" href="static/img/allemant/3.jpg" data-caption="Une ferme">
                        <img src="static/img/allemant/3.jpg" alt="">
                    </a>
                </div>
            </div>

        </ul>
    </li>
</ul>