<ul class="uk-nav-parent-icon uk-nav-primary" uk-nav="multiple: true">
  <li class="uk-active"><a href="#">Bezonvaux</a></li>
  <hr />
  <li class="uk-parent">
    <a href="#">À propos</a>
    <ul class="uk-nav-sub">
      <p>
        Le 21 février 1916, le tonnerre des canons marque le début de la
        bataille de Verdun. Situé sur le secteur de Verdun, le village perdu par
        les troupes françaises le 23 février 1916 et repris le 16 décembre 1916
        disparaitra totalement sous l'acharnement des pilonnages des obus
        français et allemands. Quoique situé à proximité de la zone des combats,
        le village n'a été vidé complètement de ses habitants que le 15 février
        1916, peu de temps avant que les Allemands ne le prennent d'assaut le 25
        février. Le 25 novembre 1917, un sévère combat y oppose les Français et
        les Allemands. Après l'armistice, il ne restait pas un mur debout et les
        terres cultivables étaient labourées par de profonds trous d'obus dont
        beaucoup n'avaient pas explosé. Pour ces raisons, le territoire du
        village fut déclaré zone rouge. Le village est désormais abandonné. À la
        fin des hostilités, il est décidé de conserver cette commune, déclarée «
        village mort pour la France », en mémoire des événements qui s'y sont
        déroulés.
      </p>
    </ul>
  </li>
  <li class="uk-parent">
    <a href="#">Images</a>
    <ul class="uk-nav-sub">
      <div uk-lightbox="animation: slide">
        <div>
          <a
            class="uk-inline"
            href="static/img/bezonvaux/1.jpg"
            data-caption="Avant Guerre (la Grande Rue)"
          >
            <img src="static/img/bezonvaux/1.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/bezonvaux/2.jpg"
            data-caption="Pendant la Guerre"
          >
            <img src="static/img/bezonvaux/2.jpg" alt="" />
          </a>
        </div>
        <div>
          <a
            class="uk-inline"
            href="static/img/bezonvaux/3.jpg"
            data-caption="Aujourd'hui"
          >
            <img src="static/img/bezonvaux/3.jpg" alt="" />
          </a>
        </div>
      </div>
    </ul>
  </li>
</ul>
